input{
    display: block;
    width: 40%;
    border-radius: 20px;
}

.sectionStuff{
    margin-left: 250px;
    margin-top: 50px;
}

button{
    border-radius: 25px;
    width: 16%;
    background-color: #00acee;
    font-weight: bold;
}

#yes{
font-family: Helvetica Neue ;
font-weight: bold;
}

label{
    font-weight: bold;
}
