<section>
    <div class="sectionStuff">
    <h3 class="mb-5" id="yes"> Reset your password  </h3>
    <p> Strong passwords include numbers, letters, and punctuation marks. <a href="https://www.a2hosting.com/kb/security/choosing-a-strong-password" target="_blank">Learn more  </a></p>
     <form action="">

        <div class="mb-3">
        <label for="newpassword" class="form-label">Enter your new password </label>
        <input type="password" class="form-control" id="password" name ="newpassword" #newpassword
            [(ngModel)] = "Passwords.newpassword" placeholder="New Password" (input)="onChange()">
      </div>

      <div class="mb-3">
        <label for="retypepassword" class="form-label">Enter your password one more time        </label>
        <input type="password" name = "retypepassword" #retypepassword [(ngModel)] = "Passwords.retypepassword" 
               class="form-control" id="retypepassword" placeholder="Re-type new Password" (input)="onChange2()" [disabled]="Passwords.newpassword === ''">
      </div>

      <p class="text-danger mt-3" *ngIf = "isError && !success">
        {{ error }}
      </p>
  
      <p class="text-success mt-3" *ngIf = "success">
         Password has been resetted Successfully 
      </p>

      <button type="submit" class="btn btn-primary mt-3" (click) = "reset()" [disabled]="isError || Passwords.retypepassword === ''">Reset Password</button>

</form>
</div>
</section>
