<app-header></app-header>

<div class="row">
    <div class="column">
        <a routerLink = "cairo" >
            <div class="view" style=" width:100% !important; height: 770px !important;">
             <img class="d-block w-100" src="assets/images/CairoBackground3.jpeg" alt="" style="height: 775px;">
             <div class="middle">
                <a>
                  <div class="text"> Cairo </div>
                </a>
              </div>
             <div class="mask rgba-black-light"> </div> 
            </div>
        </a>
    </div>
    <div class="column">
      <a routerLink = "alexandria" >
             <div class="view" style=" width:100% !important; height: 770px !important;">
             <img class="d-block w-100" src="assets/images/AlexandriaBackground.jpeg" alt="" style="width: 615px; height: 775px;">
             <div class="middle">
                <a href="">
                  <div class="text" > Alexandria </div>
                </a>
              </div>
              <div class="mask rgba-black-light"></div> 
            </div>
          </a>
    </div>
    <div class="column">
      <a routerLink = "hurghada" >
            <div class="view" style=" width:100% !important; height: 770px !important;">
            <img class="d-block w-100" src="assets/images/HurghadaBackground.jpeg" alt="" style="width: 350px; height: 775px;">
            <div class="middle">
                <a href="">
                  <div class="text"> Hurghada </div>
                </a>
              </div>
              <div class="mask rgba-black-light"></div> 
            </div>
          </a>
    </div>
    <div class="column">
      <a routerLink = "sharmEl-Sheikh" >
         <div class="view" style=" width:100% !important; height: 770px !important;">
            <img class="d-block w-100" src="assets/images/shamBackground.jpeg"  alt="" style="width: 615px; height: 775px;">
            <div class="middleSpecial">
                <a href="">
                  <div class="textSpecial"> Sharm El-Sheikh </div>
                </a>
              </div>
             <div class="mask rgba-black-light"></div>  
            </div>
          </a>
    </div>
    <div class="column">
      <a routerLink = "luxor" >
           <div class="view" style=" width:100% !important; height: 770px !important;">
            <img class="d-block w-100" src="assets/images/luxorBackground.jpeg" alt="" style="width: 615px; height: 775px;">
            <div class="middle">
                <a href="">
                  <div class="text"> Luxor </div>
                </a>
              </div>
             <div class="mask rgba-black-light"></div>  
            </div>
          </a>
    </div>
</div>
<div class="cities">
    <div class="citiesHeader"> 
        <a routerLink = "ancientEgyptianCities">
            <h1> Ancient </h1>
            <h1> Egyptian</h1>
            <h1>Cities</h1>
            <h4>Know more..</h4>
        </a>
    </div>
</div>
<div class="beaches">
    <div class="beachesHeader"> 
    <a routerLink = "egyptianBeaches">
        <h1>Beaches</h1>
        <h4>Know more..</h4>
    </a>
    </div>
 </div>
 <footer>
  <div class="footerStuff">

    <div class="footerItem">
     <a href="https://egymonuments.gov.eg" target="_blank"> Ministry of Tourism Egypt  </a> 
     |
     <a style="cursor: text; color: white;"> Zamalek head office 3 El Adel Abou Bakr St., Zamalek , Cairo </a> 
     |
     <a href="https://egymonuments.gov.eg" target="_blank"> egymonuments.gov.eg  </a> 
    </div>

    <div class="social-icons">
      <a class="social-icon social-icon--facebook" href="https://www.facebook.com/khaled.wbas.56" target="_blank">
        <i class="fa fa-facebook"></i>
        <div class="tooltip">Facebook</div>
      </a>
      <a class="social-icon social-icon--twitter" href="https://twitter.com/khaled_garawin" target="_blank">
        <i class="fa fa-twitter"></i>
        <div class="tooltip">Twitter</div>
      </a>
      <a class="social-icon social-icon--github" href="https://github.com/LoDaAa" target="_blank">
        <i class="fa fa-github"></i>
        <div class="tooltip">Github</div>
      </a>
      <a class="social-icon social-icon--instagram" href="https://www.instagram.com/khldwleedd/" target="_blank">
        <i class="fa fa-instagram"></i>
        <div class="tooltip">Instagram</div>
      </a>
      <a class="social-icon social-icon--linkedin" href="https://www.linkedin.com/in/khaled-garaween-557181169/" target="_blank">
        <i class="fa fa-linkedin"></i>
        <div class="tooltip">LinkedIn</div>
      </a>
    </div>

  </div>
</footer>

 <router-outlet></router-outlet>
