<section>
    <div class="sectionStuff">
    <h3 class="mb-5" id="yes"> Find your Website account </h3>
     <form action="">
        <div class="mb-3">
        <label for="searchInput" class="form-label">Enter your email address</label>
        <input type="email" class="form-control" [(ngModel)] = "searchData.email" #email
               name = "email" id="searchInput" aria-describedby="emailHelp" (input)="onInputChange()">
      </div>
      <div class="text-danger" *ngIf = "isError">
         {{ error }}
     </div>
      <button type="submit" class="btn btn-primary mt-3" (click) = searchUser() [disabled]="isError || searchData.email === ''">Search</button>
</form>
</div>