<app-header></app-header>

<header>

      <mdb-carousel style=" width:100% !important; height: 500px !important;">
        <mdb-carousel-item>
          <div class="view" style=" width:100% !important; height: 800px !important;">
          <img class="d-block w-100" src="https://ca.egypttoursportal.com/2018/03/Egyptian-Food-and-Cuisine-Egypt-Tours-Porta.jpg" alt="First slide">
          <div class="mask rgba-black-light"></div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    
</header>

    <div class="places"> 

      <div class="hdText">
        <h1> <span> Egyptian Dishes </span></h1>
      </div>

      <div class="float-container">
        <div class="float-child" style="margin-top: 90px;">
          <img id="myImg" src="https://www.scenic.co.uk/news/-/media/scenic/united-kingdom/news/2017/12/kushari.jpg?mw=1200&hash=910EA488508D61DB21223CC784074803FD7193D5" alt="" #image style="border-radius: 25px;" (click) = zoomIn(image)>
          <div id="myModal" class="modal" (click)="zoomOut()">
            <img class="modal-content" id="img01">
        </div>
        </div>
        <div class="float-child" style="margin-top: -50px;">
          <div class="text">
            <h1> Kushari </h1>
            <p>
                Many Egyptians consider kushari, a mix of rice, macaroni, lentils and spiced tomato sauce, to be the country’s national dish. Originating in the mid-19th century, this multicultural dish is based on cuisines encountered by Egyptian soldiers while touring in India and parts of Europe, though it is normally seasoned with traditional Egyptian herbs and spices. Delicious hot or cold, kushari is normally garnished with chickpeas and crispy onions, and sprinkled with garlic juice and hot sauce.
            </p>
          </div>
        </div>
      </div>

      <div class="float-container1">
        <div class="float-child1" >
          <img src="https://www.scenic.co.uk/news/-/media/scenic/united-kingdom/news/2017/12/molokhiya.jpg?mw=1200&hash=4BB0F2A9A3BF1806647BD092B0837CE0A5D05553" #image2 alt="" style="border-radius: 25px;"(click) = zoomIn(image2)>
          <div id="myModal" class="modal" (click)="zoomOut()">
            <img class="modal-content" id="img02">
        </div>
        </div>
        <div class="float-child1" style="margin-right: 40px; margin-top: 30px;" >
          <div class="text2">
            <h1> Molokhiya </h1>
            <p>
                Molokhiya is a green, leafy vegetable which is chopped and cooked in stews with beef, chicken and rabbit, and normally served on a bed of white rice with a side of bread. The vegetable has a distinct, bitter flavour not unlike okra, and turns silky in texture when boiled or fried. In coastal areas, molokhiya is used to wrap up seafood before grilling, infusing the fish with delicious, aromatic flavour.</p>
          </div>
        </div>
      </div>

      <div class="float-container2">
        <div class="float-child2" style="margin-top: 280px;">
          <img src="https://www.scenic.co.uk/news/-/media/scenic/united-kingdom/news/2017/12/fatta.jpg?mw=1200&hash=81F04D8ED053AF6C9EC2FD2EA407FB3A8C03650B" alt="" #image3 style="border-radius: 25px; width: 95%;"(click) = zoomIn(image3)>
          <div id="myModal" class="modal" (click)="zoomOut()">
            <img class="modal-content" id="img01">
        </div>
        </div>
        <div class="float-child2" style="margin-top: 70px; margin-left: 10px;">
          <div class="text2">
            <h1> Fatta</h1>
            <p>
                A traditional Nubian dish which originates from ancient religious ceremonies, fatta consists of layers of fried rice and bread, topped with tomato sauce, vinegar and meat broth normally made from sheep or cow brains. Though delicious, the dish is considered too complex and fattening for an everyday meal, so is normally reserved for special occasions and religious festivals. Many restaurants serve fatta, however, so you should have no problem finding it during your visit.</p>
          </div>
        </div>
      </div>
      
      <div class="float-container1">
        <div class="float-child1" style="margin-top: 340px !important;">
          <img src="https://www.scenic.co.uk/news/-/media/scenic/united-kingdom/news/2017/12/bamia.jpg?mw=1200&hash=4532219E276051955A684984D623CF01EB64621B" alt="" #image4 style="border-radius: 25px; width: 100%;"(click) = zoomIn(image4)>
          <div id="myModal" class="modal" (click)="zoomOut()">
            <img class="modal-content" id="img01">
        </div>
        </div>
        <div class="float-child1" style="margin-right: 30px;">
          <div class="text2">
            <h1> Bamia </h1>
            <p>
                Originally hailing from the Middle East, bamia is a rich stew cooked with okra, tomatoes and spices,    and served alongside bread, rice and salad. The Egyptian variety usually contains cuts of lamb, which turn deliciously soft and tender over the long cooking time of the stew. Egyptians also add ta’aleya, a type of garlic cooking sauce, to enhance the flavours of the dish, as well as coriander, cardamom and onion. Bamia is actually the Arabic word for okra, one of the key ingredients of this rich and tasty dish.
            </p>
          </div>
        </div>
      </div>

      <div class="float-container2">
        <div class="float-child2">
          <img src="https://www.scenic.co.uk/news/-/media/scenic/united-kingdom/news/2017/12/hawawshi.jpg?mw=1200&hash=A45B91610D0EC29C8CBDF110ED506FD5E4D1B7CA" alt="" #image5 style="border-radius: 25px; width: 95%;" (click) = zoomIn(image5)>
          <div id="myModal" class="modal" (click)="zoomOut()">
            <img class="modal-content" id="img01">
        </div>
        </div>
        <div class="float-child2" style="margin-top: 75px;">
          <div class="text2">
            <h1> Hawawshi </h1>
            <p>
                Another street food favourite and must-try savoury delicacy, hawawshi is a type of turnover pastry dish, filled with minced lamb or beef, and marinated with pepper, parsley, chilli and onions. Similar to the Middle Eastern lahmacun, hawawshi consists of two round pieces of dough, pressed together around the filling and baked until golden brown. The dish is commonly made at home by working-class Egyptian families, and is also served as a popular street food, particularly in Alexandria and Cairo. </p>
          </div>
        </div>
      </div>

      <div class="float-container1">
        <div class="float-child1">
          <img src="https://www.scenic.co.uk/news/-/media/scenic/united-kingdom/news/2017/12/baqlawa.jpg?mw=1200&hash=C4DAAE6D09EA464D096A696FC4B441525ABC9A13" alt="" #image6 style="border-radius: 25px; width: 90%; margin-top: 100px; margin-left: 30px;" (click) = zoomIn(image6)>
          <div id="myModal" class="modal" (click)="zoomOut()">
            <img class="modal-content" id="img01">
        </div>
        </div>
        <div class="float-child1">
          <div class="text2">
            <h1> Baqlawa </h1>
            <p>
                Originating in the Caucasus mountains at the time of the Ottoman Empire, baqlawa, also known as baklava, is a rich, sweet dessert made from intricate layers of filo pastry, chopped nuts and fruits. The dessert is held together by syrup and honey, and often served with a generous dollop of rich cream ­– a delicious conclusion to a traditional Egyptian feast.</p>
          </div>
        </div>
      </div>

      <div class="float-container2">
        <div class="float-child2">
          <img src="https://i.pinimg.com/originals/d3/f9/f3/d3f9f33f4c1c12ea55c13f6471b810d0.jpg" alt="" #image7 style="border-radius: 25px; width: 95%;" (click) = zoomIn(image7)>
          <div id="myModal" class="modal" (click)="zoomOut()">
            <img class="modal-content" id="img01">
        </div>
        </div>
        <div class="float-child2" style="margin-top: 70px;">
          <div class="text2">
            <h1> Ta’meya </h1>
            <p>
                One of Egypt’s most popular vegetarian dishes is Ta’meya, round balls of crushed fava beans fried in oil, herbs and spices. Similar to the Eastern Mediterranean delicacy of falafel, this delicious vegetable patty is normally served on a thin flatbread or pita such as eish baladi, and topped with salad, crispy onions and hot sauce. It’s often rolled up and eaten as a wrap or kebab, and is a popular street food option in major towns and cities.</p>
          </div>
        </div>
      </div>

    </div>

      <footer>
        <div class="footerStuff">
    
          <div class="footerItem">
           <a href="https://egymonuments.gov.eg" target="_blank"> Ministry of Tourism Egypt  </a> 
           |
           <a style="cursor: text; color: white;"> Zamalek head office 3 El Adel Abou Bakr St., Zamalek , Cairo </a> 
           |
           <a href="https://egymonuments.gov.eg" target="_blank"> egymonuments.gov.eg  </a> 
          </div>
    
          <div class="social-icons">
            <a class="social-icon social-icon--facebook" href="https://www.facebook.com/khaled.wbas.56" target="_blank">
              <i class="fa fa-facebook"></i>
              <div class="tooltip">Facebook</div>
            </a>
            <a class="social-icon social-icon--twitter" href="https://twitter.com/khaled_garawin" target="_blank">
              <i class="fa fa-twitter"></i>
              <div class="tooltip">Twitter</div>
            </a>
            <a class="social-icon social-icon--github" href="https://github.com/LoDaAa" target="_blank">
              <i class="fa fa-github"></i>
              <div class="tooltip">Github</div>
            </a>
            <a class="social-icon social-icon--instagram" href="https://www.instagram.com/khldwleedd/" target="_blank">
              <i class="fa fa-instagram"></i>
              <div class="tooltip">Instagram</div>
            </a>
            <a class="social-icon social-icon--linkedin" href="https://www.linkedin.com/in/khaled-garaween-557181169/" target="_blank">
              <i class="fa fa-linkedin"></i>
              <div class="tooltip">LinkedIn</div>
            </a>
          </div>
          
        </div>
    </footer>
