<section>
    <div class="sectionStuff">
    <h3 class="mb-5" id="yes"> Check your email  </h3>
     <form action="">
        <div class="mb-3">
        <label for="searchInput" class="form-label mb-4">You'll receive a code to verify here so you can reset your account password.</label>
        <input type="email" class="form-control" 
               name = "code" id="searchInput" aria-describedby="emailHelp" 
               [(ngModel)] = "Verify.code" #code placeholder="Enter your code" (input)="onChange()">
      </div>
      <button type="submit" class="btn btn-primary mt-3" id="verify" (click) = "verify()" [disabled]="isError || Verify.code === ''"> Verify </button>
      <p class="text-danger mt-3" *ngIf = "isError">
         {{ error }} 
      </p>
      <p> If you don't see the email, check other places it might be, like your junk, spam, social, or other folders. </p>
      <a (click)="SendCodeAgain()" href="javascript:void(0)"> Didn’t receive your code? </a>
      <p class="text-success mt-3" *ngIf = "isSentBack"> Code has been resent again successfully </p>
</form>
</div>
</section>
