.container2{
    z-index: 9;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .container2 h1,h2{
    display: block;
  }
  
  .text1{
  
    color: #f5f5dc;
    font-size: 70px;
    letter-spacing: 10px;
    position: relative;
    animation: text 3s 1;
  }
  
  @keyframes text {
    0%{
      margin-bottom: -40px;
    }
  
    30%{
      letter-spacing: 25px;
      margin-bottom: -90px;
    }
  
    85%{
      margin-bottom: -90px;
    }
  }
  .button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 199;
  }

  .btn2{
    border: 1px solid beige;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.6s ease;
    font-size: 15px;
    background: linear-gradient(to left, transparent 50%, beige 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    color: beige !important;
  }
    
  .btn2:hover{
      border: 1px solid beige;
      background-position: left;
      color: black !important;
    }
  .places
  {
    text-align: center;
    padding: 20px;
  }
  .places h1
  {
    font-weight: bold;
    display: block;
  }
  .places h1 span
  {
    border-bottom: 2px double grey;
  }
  .float-container {
    padding: 20px;
  }
  .float-child {
    width: 46%;
    float: left;
    padding: 20px;
    text-align: left;
  }
  .float-child img
  {
    transition: 1s;
  }
  .float-child img:hover
  {
  transform: scale(1.03);
  }
  .text
  {
    margin-top:80px;
  }
  .text h1
  {
    font-weight: lighter;
  }
  .text p
  {
    text-align: left;
    font-size: 20px;
  }
  .text p a
  {
    margin-left: 0.5em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  .text p a:hover
  {
    color: lightblue;
    border-bottom: 2px double lightblue; 
  }
  
  .float-container1 {
    padding: 20px;
  }
  .float-child1 {
    margin-top: 100px;
    width: 46%;
    float: right;
    text-align: left;
  }
  .float-child1 img
  {
    transition: 1s;
  }
  
  .float-child1 img:hover
  {
  transform: scale(1.03);
  }
  .text2
  {
    margin-top:20px;
  }
  .text2 h1
  {
    font-weight: lighter;
  }
  .text2 p
  {
    text-align: left;
    font-size: 20px;
  }
  .text2 p a
  {
    margin-left: 0.5em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }
  .text2 p a:hover
  {
    color: lightblue;
    border-bottom: 2px double lightblue; 
  }
  .float-container2 {
    padding: 20px;
  }
  .float-child2 {
    margin-top: 150px;
    width: 46%;
    float: left;
    text-align: left;
  }
  .float-child2 img
  {
    transition: 1s;
  }
  
  .float-child2 img:hover
  {
  transform: scale(1.03);
  }
  img{
    border-radius: 5px;
    cursor: zoom-in;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .modal {
    display: none;
    position: fixed; 
    z-index: 599;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    cursor: zoom-out;
  }
  .modal-content {
    margin: auto;
    display: block;
    width: 75%;
  }
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
  }
  @keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
  }
  @-webkit-keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
  }
  @keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
  }
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  .out {
    -webkit-animation-name: zoom-out;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom-out;
    animation-duration: 0.6s;
  }
  @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
  }

span
{
  background-size: 50% 200%;
  background-image: linear-gradient(to top, #292c2f  50%, transparent 50%);
  transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}
span:hover
{
  color: white;
  background-image: linear-gradient(to top, #292c2f  51%, transparent 50%);
  background-position: 0 100%;
}


footer
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f2022 !important;
    color: #bbb;
  }
  .footerStuff
  {

    display: flex;
    justify-content: space-between;
  }
  .footerItem
  {
    margin-top: 30px;
  }
  .footerItem a
  {
    text-decoration: none;
    color: beige;
    padding: 10px;
  }
  .social-icons {
    display: flex;
  }
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0.5rem;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.15s ease;
    color: beige;
    &:hover {
      background-color: beige; 
      i
      {
        color: black;
      }   
      .tooltip {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -150%);
      }
    }
    &:active {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
    }
  }
  .tooltip {
    display: block;
    position: absolute;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
    color: black;
  }
 .active i, .active span
 {
   color: burlywood;
 }
  .nav
  {
    margin-left: 20px;
    margin-top: 70px;
    li
    {
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li:hover
    {
      color: burlywood;
    }
    i
    {
      padding: 10px;
    }
  }

 .tab-content
 {
   margin-top: 50px;
   width: 70%;
   padding: 50px;
 }

 ul li {
  font-size: 16px;
  margin-left: 10px;
  list-style-type: circle;
  margin-top: 10px;
  margin-bottom: 10px;
}